{% extends "layout.html" %}
{% import "Book/forms.html" as forms %}

{% block title %}{{ doc.get_name() }}{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <h3>{{ doc }}</h3>
      </div>

    </div>
    <table class="book-table">
    {% for k in doc.field_order %}
    <tr>
        <td>{{ doc.label_for(k) }}</td><td>{{ doc[k] }}</td>
    </tr>
    {% endfor %}
    </table>

    <p><a href="{{ doc.url_for('edit') }}">[edit this entry]</a></p>
    <p>{{ forms.delete_form(doc.delete_form()) }}</p>
{% endblock %}
